<%= form_with model: @warning_threshold do |form| %>
  <h2>
    <%= form.label :city %><br>
    <%= form.text_field :city %>
  </h2>
  <% @warning_threshold.errors.full_messages_for(:city).each do |message| %>
    <div><%= message %></div>
  <% end %>

  <h2>
    <%= form.label :threshold %><br>
    <%= form.text_area :threshold %>
  </h2>
  <% @warning_threshold.errors.full_messages_for(:threshold).each do |message| %>
    <div><%= message %></div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<div class="mt-5">
  <%= link_to "Back to main page", root_path %>
</div>
